* {
  max-width: 100%;
  font-family: monospace;
}
body h1 {
  text-align: center;
}
.body-section {
  width: 60%;
  margin: auto;
}
.search-section {
  display: flex;
  justify-content: center;
  margin: 20px auto
}


/* ----- User ----- */
.user-section {
  display: flex;
  align-items: center;
  justify-content: center;
  /* border: 2px purple solid; */
}
.user-container {
  display: flex;
  justify-content: center;
  padding: 20px 10px 10px;
  box-shadow: 5px 5px 5px lightgray;
  /* border: 2px red solid; */
}
.user-image {
  object-fit: scale-down;
  margin: 10px
}
.user-info{
  padding: 10px 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.user-totals {
  margin: 10px 0px
}
.user-info h2, .user-info h4 {
  margin: 0;
}

/* ----- Followers  ----- */
/* .followers-parent {
} */

.followers-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  /* border: 2px purple solid; */
}
.follower-container{
  margin: 10px;
  padding: 20px 10px 10px;
  width: 135px;
  box-shadow: 5px 5px 5px lightgray;
  display:flex;
  flex-direction: column;
  align-items: center;
  /* border: 2px red solid; */

}
.follower-image{
  width: 100px;
}

/* ----- Media Queries ----- */

@media (max-width:705px){
  .user-container {
    display: flex;
    justify-content: center;
    flex-direction: column;;
  }
  .user-name {
    text-align: center;
  }

}
